<section class="editorial-grid">
    <div class="editorial-grid-items">
        <h2>Presidential Address</h2>
        <p class="hindi-font" style="text-align: justify">बन्धुओ , आप सभी को दीपावली की हार्दिक शुभकामनाएँ । आपके सम्मुख सही तथ्यों को रखना मेरा दायित्व है वरना समाज में भ्रम की स्थिति पैदा होती है पूर्व निर्धारित राष्ट्रीय अध्यक्ष के चुनावों की प्रक्रिया का अध्यक्ष निर्वाचन मण्डल द्वारा कार्यक्रम सरकारी निर्देशों का पालन करते हुये घोषित कर दिया गया था</p>
        <a routerLink="/presidential-address-home-page" class="editorial-read-more-btn">Read More</a>
    </div>
    <!-- <div class="editorial-grid-items">
        <img src="assets/images/presidential_address/thumb.jpg" alt="">
    </div> -->
</section>