<div class="flex-div">
    <div class="left"><img id="logo_icon" src="assets/images/youtube_logo.png" alt=""></div>
    <div class="middle">
        <div class="search-container">
            <input id="search" type="text" placeholder="Search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-microphone"></i>
        </div>
    </div>
    <div class="right">
        <i class="fa-solid fa-video"></i>
        <i class="fa-solid fa-bell"></i>
        <img id="profile_pic" src="assets/images/profile_pic.JPG" alt="">
        <!-- <img id="create-video" src="assets/images/create_video.png" alt=""> -->
    </div>
</div>
