*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.page-container{
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-box{
    width: 380px;
    height: 420px; /* 460px in case of register*/
    background: #fff;
    padding: 5px;
    position: relative;
    margin: 6% auto;
    transition: 0.5s;
    overflow: hidden;
}
.button-box{
    /* border: 1px solid red; */
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: 0.5s;
}
.social-media{
    /* border: 1px solid red; */
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}
.social-media i{
    margin: 0 10px;
    cursor: pointer;
}
/* .social-media i:hover{
    background: linear-gradient(to right, #ff1060c4, #ffac06b7);
    -webkit-background-clip: text;
    color: transparent;
} */
.gradient-icon{
    background: linear-gradient(to right, #ff105f, #ffad06);
    -webkit-background-clip: text;
    color: transparent;
}
.gradient-icon:hover{
    background: linear-gradient(to right, #ff1060c4, #ffac06b7);
    -webkit-background-clip: text;
    color: transparent;
}
.input-group{
    /* border: 1px solid red; */
    position: absolute;
    top: 170px;
    width: 280px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.fa-eye, .fa-eye-slash{
    position: absolute;
    right: 0;
    top: 60px;
    cursor: pointer;
    color: rgba(0,0,0,0.4);
}
.submit-btn{
    border: 1px solid red;
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    border-radius: 30px;
    /* color: #ccc;
    font-style: italic; */
}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    position: absolute;
    bottom: 65px;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}