<section class="mourning-news">
    <div class="mourning-news-header">
        <h2>Mourning News</h2>
    </div>
    <div class="mourning-news-flex">
        <div (click)="onEventThumbClick('mn201')"><img src="assets/images/mourning_news/201.jpg" alt=""><h4>Pradeep Kumar Gupta</h4></div>
        <div (click)="onEventThumbClick('mn202')"><img src="assets/images/mourning_news/202.jpg" alt=""><h4>Sharda Devi Gupta</h4></div>
        <div (click)="onEventThumbClick('mn203')"><img src="assets/images/mourning_news/203.jpg" alt=""><h4>Bhagwan Das Gupta</h4></div>
        <div (click)="onEventThumbClick('mn204')"><img src="assets/images/mourning_news/204.jpg" alt=""><h4>Vinod Kumar Mathur</h4></div>
        <div (click)="onEventThumbClick('mn205')"><img src="assets/images/mourning_news/205.jpg" alt=""><h4>Ramratan Gupta</h4></div>
        <div (click)="onEventThumbClick('mn206')"><img src="assets/images/mourning_news/206.jpg" alt=""><h4>Darshanlal Gupta</h4></div>
        <div (click)="onEventThumbClick('mn207')"><img src="assets/images/mourning_news/207.jpg" alt=""><h4>Shakuntala Devi Gupta</h4></div>
        <div (click)="onEventThumbClick('mn208')"><img src="assets/images/mourning_news/208.jpg" alt=""><h4>Ramnarayan Gupta</h4></div>
        <div (click)="onEventThumbClick('mn209')"><img src="assets/images/mourning_news/209.jpg" alt=""><h4>Geeta Gupta</h4></div>
        <div (click)="onEventThumbClick('mn210')"><img src="assets/images/mourning_news/210.jpg" alt=""><h4>Ashish Gupta</h4></div>
        <div (click)="onEventThumbClick('mn211')"><img src="assets/images/mourning_news/211.jpg" alt=""><h4>Manju Gupta</h4></div>
    </div>
    <div class="mourning-news-header">
        <a routerLink="/mourning-news-home-page" class="god-ganesh-prayer-read-more-btn">Read More</a>
    </div>
</section>