<app-header></app-header>
<div class="mantrimandal">
    <div class="mantrimandal-head-grid-container">
        <h2>Mantrimandal</h2>
        <p>The committee of the most important people and senior ministers in the organization responsible for controlling policies and advise the President and make important decisions</p>
    </div>
    <!-- <div class="mantrimandal-skew">
    </div> -->
    <div class="mantrimandal-data-grid">
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/president.jpg" alt="">
            <h4>National President</h4>
            <h5>Raghunath Prasad Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/senior_vice_president.jpg" alt="">
            <h4>Senior Vice President</h4>
            <h5>Shiv Kumar Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/secretary.jpg" alt="">
            <h4>National Secretary</h4>
            <h5>Neeraj Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/president_advisor.jpg" alt="">
            <h4>President Advisor</h4>
            <h5>Laxmi Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/trasurer.jpg" alt="">
            <h4>National Trasurer</h4>
            <h5>Kuldeep Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/vice_president_1.jpg" alt="">
            <h4>Vice President</h4>
            <h5>Balkishan Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/vice_president_2.jpg" alt="">
            <h4>Vice President</h4>
            <h5>Mukesh Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/vice_president_3.jpg" alt="">
            <h4>Vice President</h4>
            <h5>Vimal Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/joint_minister_1.jpg" alt="">
            <h4>Joint Minister</h4>
            <h5>Ramesh Chandra Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/joint_minister_2.jpg" alt="">
            <h4>Joint Minister</h4>
            <h5>Umashankar Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/senior_minister.jpg" alt="">
            <h4>Senior Minister</h4>
            <h5>Virendra Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/organisation_minister_1.jpg" alt="">
            <h4>Organisation Minister</h4>
            <h5>Vinod Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/organisation_minister_2.jpg" alt="">
            <h4>Organisation Minister</h4>
            <h5>Mukesh Chandra Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/organisation_minister_3.jpg" alt="">
            <h4>Organisation Minister</h4>
            <h5>Satyendra Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/organisation_minister_4.jpg" alt="">
            <h4>Organisation Minister</h4>
            <h5>Sanjiv Gupta</h5>
        </div>
        
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/publicity_minister_1.jpg" alt="">
            <h4>Publicity Minister</h4>
            <h5>Hariom Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/publicity_minister_2.jpg" alt="">
            <h4>Publicity Minister</h4>
            <h5>Pramod Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/publicity_minister_3.jpg" alt="">
            <h4>Publicity Minister</h4>
            <h5>Dinesh Chandra Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/publicity_minister_4.jpg" alt="">
            <h4>Publicity Minister</h4>
            <h5>Sandip Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/vice_minister_1.jpg" alt="">
            <h4>Vice Minister</h4>
            <h5>Bhagwan Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/vice_minister_2.jpg" alt="">
            <h4>Vice Minister</h4>
            <h5>Suresh Chandra Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/associate_minister_1.jpg" alt="">
            <h4>Associate Minister</h4>
            <h5>Omprakash Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/associate_minister_2.jpg" alt="">
            <h4>Associate Minister</h4>
            <h5>Dharmendra Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/associate_minister_3.jpg" alt="">
            <h4>Associate Minister</h4>
            <h5>Subhash Gandhi</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/associate_minister_4.jpg" alt="">
            <h4>Associate Minister</h4>
            <h5>Deepak Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/account_inspector.jpg" alt="">
            <h4>Account Inspector</h4>
            <h5>Ramprakash Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/concurrent_accounts_inspector.jpg" alt="">
            <h4>Concurrent Accounts Inspector</h4>
            <h5>Pratap Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/general_assembly_spokesperson.jpg" alt="">
            <h4>General Assembly Spokesperson</h4>
            <h5>Srigopal Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/media_charge.jpg" alt="">
            <h4>Media Charge</h4>
            <h5>Manoj Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/darpan_editor.jpg" alt="">
            <h4>Darpan Editor</h4>
            <h5>Sudhish Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/president_election_board.jpg" alt="">
            <h4>President Election Board</h4>
            <h5>Anil Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/chairman_disciplinary_committee.jpg" alt="">
            <h4>Chairman Disciplinary Committee</h4>
            <h5>Rakesh Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/president_justice_council.jpg" alt="">
            <h4>President Justice Council</h4>
            <h5>Dilip Gidoliya</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/speaker_legislative_council.jpg" alt="">
            <h4>Speaker Legislative Council</h4>
            <h5>Rammohan Singh Kothiya</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/ministerial_electorate.jpg" alt="">
            <h4>Ministerial Electorate</h4>
            <h5>Ramakant gupta</h5>
        </div>
        
        
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/building_minister.jpg" alt="">
            <h4>Building Minister</h4>
            <h5>Ramkumar Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/kaila_devi_building_minister.jpg" alt="">
            <h4>Kaila Devi Building Minister</h4>
            <h5>Mukesh Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/scholarship.jpg" alt="">
            <h4>Scholarship</h4>
            <h5>Ashok Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/introduction_conference.jpg" alt="">
            <h4>Introduction Conference</h4>
            <h5>Rakesh Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/group_marriage.jpg" alt="">
            <h4>Group Marriage</h4>
            <h5>Atul Kumar</h5>
        </div>
        
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/helpless_help_1.jpg" alt="">
            <h4>Helpless Help</h4>
            <h5>Achal Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/helpless_help_2.jpg" alt="">
            <h4>Helpless Help</h4>
            <h5>Dayashankar Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/minister_social_welfare_1.jpg" alt="">
            <h4>Minister Social Welfare</h4>
            <h5>Avinash Chandra Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/minister_social_welfare_2.jpg" alt="">
            <h4>Minister Social Welfare</h4>
            <h5>Pradeep Seth</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/blood_donation_camp.jpg" alt="">
            <h4>Blood Donation Camp</h4>
            <h5>Aditya Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/medical_help_1.jpg" alt="">
            <h4>Medical Help</h4>
            <h5>Dr. Praveen Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/medical_help_2.jpg" alt="">
            <h4>Medical Help</h4>
            <h5>Ramesh Chandra Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/national_president_women.jpg" alt="">
            <h4>National President Women</h4>
            <h5>Archana Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/record.jpg" alt="">
            <h4>Record</h4>
            <h5>Chandrakant Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/cultural_minister.jpg" alt="">
            <h4>Cultural Minister</h4>
            <h5>Dr. Madhurima Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/minister_administrative_work.jpg" alt="">
            <h4>Minister Administrative Work</h4>
            <h5>Surendra Gupta</h5>
        </div>
        
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/disability_assistance.jpg" alt="">
            <h4>Disability Assistance</h4>
            <h5>Krishna Gopal Mathuriya</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/social_security.jpg" alt="">
            <h4>Social Security</h4>
            <h5>Mukesh Kumar Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/higher_education_fund.jpg" alt="">
            <h4>Higher Education Fund</h4>
            <h5>Dr. K. C. Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/public_relation_1.jpg" alt="">
            <h4>Public Relation</h4>
            <h5>Shivdayal Mathuriya</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/public_relation_2.jpg" alt="">
            <h4>Public Relation</h4>
            <h5>Alok Anwariya</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/small_cottage.jpg" alt="">
            <h4>Small Cottage</h4>
            <h5>Swadesh Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/craft_center.jpg" alt="">
            <h4>Craft Center</h4>
            <h5>Manju Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/office_arrangement.jpg" alt="">
            <h4>Office Arrangement</h4>
            <h5>P. D. Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/darpan_delivery_system.jpg" alt="">
            <h4>Darpan Delivery System</h4>
            <h5>Ramavtar Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/shakha_sabha_recognition.jpg" alt="">
            <h4>Shakha Sabha Recognition</h4>
            <h5>Rajendra Prasad Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/harmony_contact_dialog.jpg" alt="">
            <h4>Harmony Contact Dialog</h4>
            <h5>Vinod Kumar Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/mahasabha_anniversary.jpg" alt="">
            <h4>Mahasabha Anniversary</h4>
            <h5>Ashok Kumar Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/employment_guide.jpg" alt="">
            <h4>Employment Guide</h4>
            <h5>Ravi Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/library.jpg" alt="">
            <h4>Library</h4>
            <h5>Hariom Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/census.jpg" alt="">
            <h4>Census</h4>
            <h5>Divakar Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/remarriage.jpg" alt="">
            <h4>Remarriage</h4>
            <h5>Rajendra Prasad Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/auditorium.jpg" alt="">
            <h4>Auditorium</h4>
            <h5>Satyendra Shalya</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/infant_rites.jpg" alt="">
            <h4>Infant Rites</h4>
            <h5>Nirmala Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/state_department.jpg" alt="">
            <h4>State Department</h4>
            <h5>Umesh Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/marriage_bureau.jpg" alt="">
            <h4>Marriage Bureau</h4>
            <h5>Ramdas Gupta</h5>
        </div>
        
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/tourism.jpg" alt="">
            <h4>Tourism</h4>
            <h5>Harikishan Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/old_age_honor.jpg" alt="">
            <h4>Old Age Honor</h4>
            <h5>Brijmohan Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/environment.jpg" alt="">
            <h4>Environment</h4>
            <h5>Rajendra Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/night_house.jpg" alt="">
            <h4>Night House</h4>
            <h5>Jagdish Prasad Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/national_president_youth_group.jpg" alt="">
            <h4>National President Youth Group</h4>
            <h5>Ajit Gupta</h5>
        </div>
        <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/spiritual.jpg" alt="">
            <h4>Spiritual</h4>
            <h5>Shri Bhagwan Gupta</h5>
        </div>
        <!-- <div class="mantrimandal-data-grid-items">
            <img src="assets/images/mantrimandal/.jpg" alt="">
            <h4></h4>
            <h5></h5>
        </div> -->

        
    </div>
</div>
<app-footer></app-footer>