Normal Buttons
<br>
<button mat-button>Button1</button>
<button mat-raised-button>Button1</button>
<button mat-flat-button>Button1</button>
<button mat-stroked-button>Button1</button>

<br> Customized Buttons
<br>
<button mat-flat-button class="btn-primary-class" color="primary">Primary</button>
<button mat-flat-button class="btn-accent-class" color="accent">Accent</button>
<button mat-flat-button class="btn-warn-class" color="warn">Warning</button>

<br> Icon Buttons
<br>
<button mat-icon-button class="btn-class" color="primary">Icon</button>
<button mat-fab class="btn-class" color="primary">Icon</button>
<button mat-mini-fab class="btn-class" color="primary">Icon</button>

<br>
<button mat-icon-button>
    <mat-icon>more_vert</mat-icon>
</button>
