<app-header></app-header>
<!-- <div class="mantrimandal-head-grid-container">
    <h2>Introduction</h2>
    <p>Today the Mahasabha is on the path of development after achieving a longevity of 125 years. In 1887, Karva Bah. District Agra Representative conference held in Uttar Pradesh, chaired by Shamsabad resident Late. Ganeshilal Gupta can be said to have been the father of the present Mahasabha. Satisfied with the experience and maturity gained from many representative conferences and events at 27 conventions throughout its 114 year long history Today, the General Assembly is moving with full confidence on the path of progress. Every Mathur Vaishya settled in the country and abroad is within the purview of its legislation and day by day more and more Mathur Vaishya families feel a special pride in joining the Mahasabha.</p>
</div>
<div class="mantrimandal-skew">
</div> -->
<div class="my-grid">
    <div class="slideshow-item my-grid-items">
        <app-slideshow></app-slideshow>
    </div>
    <div class="my-grid-items">
        <app-editorial></app-editorial>
    </div>
    <div class="my-grid-items">
        <app-presidential-address></app-presidential-address>
    </div>
</div>
<!-- <app-slideshow></app-slideshow>
<app-editorial></app-editorial>
<app-presidential-address></app-presidential-address> -->
<app-events></app-events>
<app-society-pride></app-society-pride>
<app-mourning-news></app-mourning-news>
<app-footer></app-footer>
<!-- <app-god-ganesh-prayer></app-god-ganesh-prayer> -->