<app-header></app-header>
<div class="mahasabha">
    <div class="mahasabha-head-grid-container">
        <h2>About Developers</h2>
        <p>This page tells us about the people who have contributed towards the development and maintaining of this website.</p>
    </div>
    <!-- <div class="mahasabha-skew">
    </div> -->
    <div class="mahasabha-data-grid">
        <div class="mahasabha-data-grid-left-item">
            <img src="assets/images/about-developers/PapaG.jpg" alt="">
        </div>
        <div class="mahasabha-data-grid-right-item">
            <h3>Late Sh. Suresh Chandra Gupta</h3>
            <div>
            	Sh. Suresh Chandra Gupta is the founder of this Website.
                <br>
                He originally comes up with the idea of creating one portal where all information related to Mathur Vaishya community will be displayed so that it will be accessible
                to everyone.
                <br>
                He released the first major version of this website in year 2011, and Since then he was maintaining this website.
                <br>
                He had completed his Bachelor in Engineering from Madhav Engineering College, Jiwaji University, Gwalior in year 1969.
                <br>
                He worked in Bharat Sanchar Nigam Limited for around 34 years.
                <br>
                During his work tenure he went to Oklahoma State University, USA for Opto Electronics training under UNDP Project.
                <br>
                He lived in Ghaziabad with his Wife, two Daughters and one Son
                <br>
                He retired from there in year 2005 as Divisional Engineer from Advanced Level Telecom Training Centre, Ghaziabad
                <br>
                Unfortunately today he is no more between us because of his sad demise in the month of February 2020.
                <br>
                <i class="fas fa-envelope-square"></i>&nbsp;&nbsp;scgupta45@gmail.com
            	<!-- <br>
                <b>Header: </b>value -->
            </div>
            <!-- <hr> -->
        </div>
        <div class="mahasabha-data-grid-left-item">
            <img src="assets/images/about-developers/anuj.jpg" alt="">
        </div>
        <div class="mahasabha-data-grid-right-item">
            <h3>Mr. Anuj Gupta</h3>
            <div>
                Anuj Gupta is son of Late Sh. Suresh Chandra Gupta and is currently maintaining this website in absence of him.
                <br>
                He assisted S.C. Gupta developing the first release of this website in 2011 and provided his support for couple of years.
                <br>
                Anuj is an Engineer in Computer Science and Information Technology.
                <br>
                He is currently located in Glasgow, UK and working in JPMorgan Chase & Co.
                <br>
                He worked on some other companies as well like Polaris, Ericsson, Wipro etc.
                <br>
                His residence in India is in Greater Noida where he lives with his Wife.
                <br>
                <i class="fas fa-envelope-square"></i>&nbsp;&nbsp;anujgupta1985@gmail.com
                <br>
                <i class="fab fa-whatsapp-square"></i>&nbsp;&nbsp;+91 8588990224
                <!-- <b>Header: </b>value -->
            </div>
            <!-- <hr> -->
        </div>
    </div>
</div>
<app-footer></app-footer>
