<div class="footer">
		<div class="footer-flex-container">
			<section>
				<h1>Akhil Bhartiya MathurVaishya Mahasabha</h1>
				<p><b>Copyright &copy; 2020</b></p>
			</section>
			<section>
				<div class="social">
					<a href="https://www.facebook.com/mvmahasabhaagra/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
					<a href="https://www.instagram.com/explore/locations/1016116753/mathur-vaishya-mahasabha-bhawan" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
					<a href="https://twitter.com/MathurVaishyaJP" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
				</div>
			</section>
			<section>
				<div class="footer-reference-grid-container">
					<div class="footer-reference-grid-item">
						<b><a href="https://docs.google.com/forms/d/e/1FAIpQLScAfoVLSxGObWhAhMW2gRL11hC--phSFLN2lYJ2zqeQfaB3WA/viewform" target="_blank">Feedback</a></b>
					</div>
					<div class="footer-reference-grid-item">
						<b><a href="http://mathurvaishya.com/default/" target="_blank">Switch to Old Website</a></b>
					</div>
					<div class="footer-reference-grid-item">
						<b><a routerLink="/about-developers">About Developers</a></b>
					</div>
				</div>
			</section>
	
		</div>
	</div>