<app-header></app-header>
<div class="mahasabha">
    <div class="mahasabha-head-grid-container">
        <h2>Mourning News</h2>
    </div>
    <div class="mahasabha-skew">
    </div>
    <div class="mahasabha-data-grid">
    	<!-- Template -->
        <!-- 
        <div class="mahasabha-data-grid-right-item" id="mn1">
            <img src="assets/images/mourning_news/201.jpg" alt="">
            <h3>name</h3>
            <p class="hindi-font">
             
            </p>
        </div> 
        -->
        
        <div class="mahasabha-data-grid-right-item" id="mn201">
            <img src="assets/images/mourning_news/201.jpg" alt="">
            <h3>Pradeep Kumar Gupta</h3>
            <p class="hindi-font">
             श्री प्रदीप कुमार गुप्ता निवासी आगरा का स्वर्गवास दिनांक 1.9.2020 दिन मंगलवार को हो गया है । सिद्धार्थ गुप्ता ( पुत्र ) , श्रीमती कुमकुम गुप्ता ( पत्नी ) , दीपक गुप्ता एडवोकेट , ई . विनीत , नितिन आलोक ( भ्रातागण ) , श्रुति - मधुर ( पुत्री - दामाद ) , राशि गुप्ता ( पुत्री ) , शशी - कृष्ण कुमार गुप्ता , रीना ( डॉली ) -राजीव गुप्ता ( बहन - बहिनोई ) , मायका पक्ष - सुनील गुप्ता , अनुज गुप्ता ( सालेगण ) है आप राकेश कुमार गुप्ता कॉन्ट्रेक्टर , ( पूर्व राष्ट्रीय अध्यक्ष महासभा ) के चचेरे भाई थे ।
            </p>
        </div>
        
        <div class="mahasabha-data-grid-right-item" id="mn202">
            <img src="assets/images/mourning_news/202.jpg" alt="">
            <h3>Sharda Devi Gupta</h3>
            <p class="hindi-font">
             श्रीमती शारदा देवी गुप्ता पत्नी स्व . श्री ऋषि कुमार गुप्ता का स्वर्गवास दिनांक 31.8.2020 को हो गया है । , राजकुमार गुप्ता ( पंजाब नेशनल बैंक ) , प्रेम गुप्ता , मनोज गुप्ता , आजाद गुप्ता ( पुत्रगण ) , लव गुप्ता , वैभव गुप्ता , माधव गुप्ता ( पौत्रगण ) है ।
            </p>
        </div>
        <div class="mahasabha-data-grid-right-item" id="mn203">
            <img src="assets/images/mourning_news/203.jpg" alt="">
            <h3>Bhagwan Das Gupta</h3>
            <p class="hindi-font">
             श्री भगवान दास गुप्ता ( C.A ) का देहावसान दिनांक 30 जुलाई 2020 को हो गया है । श्रीमती आशा गुप्ता ( पत्नी ) , प्रवीण गुप्ता ( पुत्र ) , अभिजीत गुप्ता ( पुत्र ) , राहुल गुप्ता ( पुत्र ) । आप समाज के सक्रिय कार्यकर्ता थे , विगत कई वर्षों से समाज के विभिन्न पदों पर रह कर आपने समाज सेवा मे उल्लेखनीय योगदान दिया । अध्यक्ष शाखा सभा कानपुर साउथ , अध्यक्ष माथुर वैश्य भवन समिति कानपुर , अध्यक्ष पूर्वाचल मंडल और कानपुर मे होने वाले होली मिलन समारोह को आयोजन समिति के सक्रिय सदस्य रहें । अत्यंत मृदभाषी एवं मिलनसार थे , आप का निधन समाज की अपूरणीय क्षति है ।
            </p>
        </div>
        <div class="mahasabha-data-grid-right-item" id="mn204">
            <img src="assets/images/mourning_news/204.jpg" alt="">
            <h3>Vinod Kumar Mathur</h3>
            <p class="hindi-font">
          श्री विनोद कुमार माथुर ( बब्बन ) पुत्र स्व . श्री जुगल किशोर माथुर का आकस्मिक निधन दिनांक 5.8.2020 दिन बुद्धवार को हो गया है । श्रीमती विजय लक्ष्मी ( पत्नी ) , हर्ष ( पुत्र ) , ओमप्रकाश , अशोक कुमार , विष्णु कुमार , श्याम सुन्दर , चन्द्र प्रकाश ( अध्यक्ष - शाखा सभा मुरार ) , राजेन्द्र , अजय , नन्द किशोर ( भाई ) , संजय , शैलेन्द्र , जितेन्द्र , विशाल , हिमांशु , रजत , शुभम , सुधांशु , आयुष गुप्ता ( अध्यक्ष युवादल मुरार ) , मयंक , हनी , रौनक ( भतीजे ) है ।   
            </p>
        </div>
        <div class="mahasabha-data-grid-right-item" id="mn205">
            <img src="assets/images/mourning_news/205.jpg" alt="">
            <h3>Ramratan Gupta</h3>
            <p class="hindi-font">
             श्री रामरतन गुप्ता निवासी अशोक नगर , आगरा का निधन दिनांक 11.9.2020 को हो गया है । रामनाथ गुप्ता , राजकुमार गुप्ता ( भ्रातागण ) , अशोक गुप्ता -शोभा गुप्ता ( टुण्डला ) , दिनेश गुप्ता- शालिनी गुप्ता ( पुत्र - पुत्रवधु ) , मधु - विष्णु दत्त गुप्ता , रंजना - राजकुमार गुप्ता , रेखा - स्व . सुभाष गुप्ता , सुषमा - मुकेश गुप्ता ( पुत्री - दामाद ) , राहुल - शिल्पी , अंशुल ' श्रुति , अंकुर - स्वाति अभय - शिवानी ( पौत्र - पौत्रवधु ) , आकांक्षा - आशीष ( पौत्री - पौत्रीदामाद ) , शिवांश , दिव्यांश , प्रांशुल , अंशिका , शनाया ( प्रपौत्र - प्रपौत्री ) है
            </p>
        </div>
        <div class="mahasabha-data-grid-right-item" id="mn206">
            <img src="assets/images/mourning_news/206.jpg" alt="">
            <h3>Darshanlal Gupta</h3>
            <p class="hindi-font">
      श्री दर्शन लाल गुप्ता जी ( बड़े गाँव वाले ) निवासी बाह रोड , फतेहाबाद का आकस्मिक निधन दिनांक 18.9 . 2020 को हो गया है । ( पुत्र ) अशोक गुप्ता , राकेश गुप्ता , विष्णु गुप्ता , ( पौत्र ) अंकुश , विकास , रजत , नमन निखिल , दिव्यांशु एवं समस्त जवरेवा परिवार ।       
            </p>
        </div>
        <div class="mahasabha-data-grid-right-item" id="mn207">
            <img src="assets/images/mourning_news/207.jpg" alt="">
            <h3>Shakuntala Devi Gupta</h3>
            <p class="hindi-font">
             श्रीमती शकुन्तला देवी गुप्ता धर्मपत्नी स्व श्री सत्यप्रकाश गुप्ता का निधन दिनांक 21.9.2020 दिन सोमवार को हो गया है । दीपक गुप्ता , सहमंत्री महासभा , प्रवीण गुप्ता , अमित गुप्ता ( पुत्रगण ) , कनक गुप्ता , अयांश गुप्ता ( नातीगण ) है ।
            </p>
        </div>
        <div class="mahasabha-data-grid-right-item" id="mn208">
            <img src="assets/images/mourning_news/208.jpg" alt="">
            <h3>Ramnarayan Gupta</h3>
            <p class="hindi-font">
             श्री रामनारायण गुप्ता जी ( रिटायर्ड डिप्टी रजिस्ट्रार आगरा विश्व विद्यालय ) निवासी सिंगी गली आगरा का स्वर्गवास दिनांक 20.9.2020 को हो गया है । मुकुल कुमार गुप्ता ( पुत्र ) , सुरेन्द्र कुमार गुप्ता , आगरा , राकेश गुप्ता , मुरैना ( भाई ) , संगीता गुप्ता - ब्रजेन्द्र गुप्ता , नीरजा गुप्ता - अजय गुप्ता ( पुत्री - दामाद ) है ।
            </p>
        </div>
        <div class="mahasabha-data-grid-right-item" id="mn209">
            <img src="assets/images/mourning_news/209.jpg" alt="">
            <h3>Geeta Gupta</h3>
            <p class="hindi-font">
             श्रीमती गीता गुप्ता धर्मपत्नी रामसेवक गुप्ता ( डालर स्टेशनरी वाले ) का आकस्मिक निधन दिनांक 3.9.2020 को हो गया है । योगेश गुप्ता - प्रीति गुप्ता , अमित गुप्ता - निधी गुप्ता पुत्र - पुत्रवधू ) , प्रणय गुप्ता , अभिनव गुप्ता ( पौत्र ) , योगिता - धमेन्द्र , कंचन - दिनेश , अंजू - नीरज ( पुत्री - दामाद ) , श्रीराम , सुरेश , श्याम सुन्दर , मनोज , दिलीप ( भतीजे , निशाल , हर्ष , सारांक्ष ( धेवते ) है ।
            </p>
        </div>
        <div class="mahasabha-data-grid-right-item" id="mn210">
            <img src="assets/images/mourning_news/210.jpg" alt="">
            <h3>Ashish Gupta</h3>
            <p class="hindi-font">
             श्री आशीष गुप्ता सुपुत्र श्री संतोष कुमार जी गुप्ता ( माण्डलस ) का स्वर्गवास दिनांक 25.09 2020 दिन शुक्रवार को हो गया है । अतुल गुप्ता , अंकुर गुप्ता ( बड़े भाई ) , आकाश ( ओम ) , अथर्व ( पुत्र ) , हरीबाबू गुप्ता ( मथुरा ) , सूरजभान गुप्ता , संतोष कुमार गुप्ता , उज्जैन , पदमचन्द गुप्ता ( मथुरा ) , आनंद गुप्ता एवं समस्त मांण्डलस परिवार , फर्म- गुप्ता जनरल स्टोर , उज्जैन , गुप्ता पेन हाउस , खजुरी बाजार , इन्दौर , श्री सफल सेल्स , उज्जैन ।
            </p>
        </div>
        <div class="mahasabha-data-grid-right-item" id="mn211">
            <img src="assets/images/mourning_news/211.jpg" alt="">
            <h3>Manju Gupta</h3>
            <p class="hindi-font">
             श्रीमती मंजू गुप्ता धर्मपत्नी ई . दर्शन लाल गुप्ता ( निर्वतमान राष्ट्रीय अध्यक्ष महासभा ) निवासी ग्वालियर का आकस्मिक निधन दिनांक 1.10.2020 को हो गया है । तपन - मेघना ( पुत्र - पुत्रवधु ) , मनमोहन - रश्मि , अतुल - नीतू , महेश - अंजली , आर्दश - दीपा ( पुत्री - दामाद ) , लक्ष्मीनारायण गुप्ता ( जेठ ) , सुरेन्द्र कुमार ( देवर ) , राकेश , बाबूलाल , धनीराम , रामदत्त , अभय , ( भतीजे ) है । राजेन्द्र कुमार , वीरेन्द्र कुमार ( वी.के. ) , महेन्द्र , आनन्द ( अन्नी ) , बृजेन्द्र ( हीरो ) , ( कपूर वाले ) कोलकाता ( भाई ) है ।
            </p>
        </div>
        
    </div>
</div>
<app-footer></app-footer>
