<section class="society-pride">
    <div class="society-pride-header">
        <h2>Society Pride</h2>
    </div>
    <div class="society-pride-flex">
        <div (click)="onEventThumbClick('sp201')"><img src="assets/images/society_pride/201.jpg" alt=""><h4>Dr. Vyakhya Gupta</h4></div>
        <div (click)="onEventThumbClick('sp202')"><img src="assets/images/society_pride/202.jpg" alt=""><h4>Vishesh Gupta</h4></div>
        <div (click)="onEventThumbClick('sp203')"><img src="assets/images/society_pride/203.jpg" alt=""><h4>Astha Gupta</h4></div>
        <div (click)="onEventThumbClick('sp204')"><img src="assets/images/society_pride/204.jpg" alt=""><h4>Rani Gupta</h4></div>
        <div (click)="onEventThumbClick('sp205')"><img src="assets/images/society_pride/205.jpg" alt=""><h4>Cahak Gupta</h4></div>
        <div (click)="onEventThumbClick('sp206')"><img src="assets/images/society_pride/206.jpg" alt=""><h4>Divya Gupta</h4></div>
    </div>
    <div class="society-pride-header">
        <a routerLink="/society-pride-home-page" class="god-ganesh-prayer-read-more-btn">Read More</a>
    </div>
</section>