<div class="header">
    <h2>Header</h2>
</div>
<div class="content">
    <div class="left-sidebar">
        Left Sidebar
    </div>
    <div class="main-content">
        Main Content<br>
        <h3 class="class-h3">Button Component</h3>
        <button mat-flat-button class="btn-class" color="primary">Primary</button>
        <button mat-flat-button class="btn-class" color="primary">Primary</button>
        <br>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle class="toggle-option" value="bold">Bold</mat-button-toggle>
            <mat-button-toggle class="toggle-option" value="italic">Italic</mat-button-toggle>
            <mat-button-toggle class="toggle-option" value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
        <br>
        <mat-divider>dasdas</mat-divider>
    </div>
</div>
