<section class="society-pride">
    <div class="society-pride-header">
        <h2>Events & Information</h2>
    </div>
    <div class="society-pride-flex">
        <div class="society-pride-grid-item" (click)="onEventThumbClick('e201')">
	        <div>
	            <h4 class="hindi-font">चाइना को आइना</h4>
	        </div>
        </div>
        <div class="society-pride-grid-item" (click)="onEventThumbClick('e202')">
	        <div>
	            <h4 class="hindi-font">महासभा जयन्ती कार्यक्रम</h4>
	        </div>
        </div>
        <div class="society-pride-grid-item" (click)="onEventThumbClick('e203')">
	        <div>
	            <h4 class="hindi-font">अनन्त चौदस</h4>
	        </div>
        </div>
        <div class="society-pride-grid-item" (click)="onEventThumbClick('e204')">
	        <div>
	            <h4 class="hindi-font">महासभा भवन पर स्वतंत्रता दिवस .... धूमधाम से सम्पन्न</h4>
	        </div>
        </div>
        <div class="society-pride-grid-item" (click)="onEventThumbClick('e205')">
	        <div>
	            <h4 class="hindi-font">गुजरात मण्डलीय परिषद द्वारा रक्तदान शिविर का सम्पन्न</h4>
	        </div>
        </div>
        <div class="society-pride-grid-item" (click)="onEventThumbClick('e206')">
	        <div>
	            <h4 class="hindi-font">प्रयागराज माथुर वैश्य समाज द्वारा स्वतंत्रता दिवस , सम्मान समारोह एवं गाँधी जयन्ती कार्यक्रम</h4>
	        </div>
        </div>
        <div class="society-pride-grid-item" (click)="onEventThumbClick('e207')">
	        <div>
	            <h4 class="hindi-font">एकादशी उद्यापन कैसे करें और कब : " महात्म्य ' "</h4>
	        </div>
        </div>
    </div>
    <div class="society-pride-header">
        <a routerLink="/events-home-page" class="god-ganesh-prayer-read-more-btn">Read More</a>
    </div>
</section>
<!-- <section class="society-pride">
    <div class="society-pride-header">
        <h2>Events Flex</h2>
    </div>
    <div class="society-pride-flex">
        <div class="society-pride-flex-item">
            <img src="assets/images/matrimony/bride/2.jpg" alt="">
            <a routerLink="/events-home-page"> 
                <div (click)="onEventThumbClick('e1')">
                    <h4>Heading</h4>
                    <p>Some Text Some Text Some Text Some</p>
                    <p>Text Some Text Some Text Some Text Some Text Some</p>
                    <p>Text Some Text Some Text Some Text Some Text Some Text Some </p>
                    <p>Text Some Text Some Text Some Text Some Text Some Text Some </p>
                    <p>Text Some Text Some Text Some Text Some Text Some Text Some Text</p>
                    <a href="" class="events-read-more-btn">Read More</a>
                </div>
            </a>
        </div>
        <div class="society-pride-flex-item">
            <div (click)="onEventThumbClick('e2')">
                <h4>Heading</h4>
                <p>Some Text Some Text Some Text Some Text Some Text </p>
            </div>
        </div>
        <div class="society-pride-flex-item">
            <div (click)="onEventThumbClick('e3')">
                <h4>Heading</h4>
                <p>Some Text Some Text Some Text </p>
            </div>
        </div>
        <div class="society-pride-flex-item">
            <div  (click)="onEventThumbClick('e4')">
                <h4>Heading</h4>
                <p>Some Text Some Text Some Text </p>
            </div>
        </div>
        <div class="society-pride-flex-item">
            <div (click)="onEventThumbClick('e5')">
                <h4>Heading</h4>
                <p>Some Text Some Text Some Text </p>
                <p>Some Text Some Text Some Text </p>
                <p>Some Text Some Text Some Text </p>
            </div>
        </div>
        <div class="society-pride-flex-item">
            <div>
                <h4>Heading</h4>
                <p>Some Text Some Text Some Text </p>
                <p>Some Text Some Text Some Text </p>
                <p>Some Text Some Text Some Text </p>
            </div>
        </div>
        <div class="society-pride-flex-item">
            <img src="assets/images/matrimony/bride/2.jpg" alt="">
            <div>
                <h4>Heading</h4>
                <p>Some Text Some Text Some Text Some</p>
                <p>Text Some Text Some Text Some Text Some Text</p>
            </div>
        </div>
    </div>
    <div class="society-pride-header">
        <a routerLink="/events-home-page" class="god-ganesh-prayer-read-more-btn">Read More</a>
    </div>
</section> -->

<!-- <section class="events-grid">
    <div class="events-header">
        <h2>Events</h2>
    </div>
    <div class="events-grid-items event-1">
        <img src="assets/images/matrimony/bride/1.jpg" alt="">
        <div>
            <h4>Heading</h4>
            <p>Some Text Some Text Some Text Some Text Some Text </p>
        </div>
    </div>
    <div class="events-grid-items event-2">
        <div>
            <h4>Heading</h4>
            <p>Some Text Some Text Some Text Some Text Some Text </p>
        </div>
    </div>
    <div class="events-grid-items event-3">
        <div>
            <h4>Heading</h4>
            <p>Some Text Some Text Some Text Some Text Some Text </p>
        </div>
    </div>
    <div class="events-grid-items event-4">
        <div>
            <h4>Heading</h4>
            <p>Some Text Some Text Some Text Some Text Some Text </p>
        </div>
    </div>
    <div class="events-grid-items event-5">
        <div>
            <h4>Heading</h4>
            <p>Some Text Some Text Some Text Some Text Some Text </p>
        </div>
    </div>
</section> -->