<app-header></app-header>
<div class="mahasabha">
    <div class="mahasabha-head-grid-container">
        <h2>Society Pride</h2>
    </div>
    <div class="mahasabha-skew">
    </div>
    <div class="mahasabha-data-grid">
    	<!-- Template -->
        <!-- 
        <div class="mahasabha-data-grid-right-item" id="sp201">
            <img src="assets/images/society_pride/201.jpg" alt="">
            <h3>Name</h3>
            <p class="hindi-font">
             
            </p>
        </div> 
        -->
        
        <div class="mahasabha-data-grid-right-item" id="sp201">
            <img src="assets/images/society_pride/201.jpg" alt="">
            <h3>Dr. Vyakhya Gupta</h3>
            <p class="hindi-font">
            डाक्टर व्याख्या गुप्ता सुपुत्री बड़ौदा निवासी श्री अखिलेश कुमार एवं विनीता गुप्ता पौत्री वीरमगाम निवासी श्री रामनिवास एवं उमादेवी गुप्ता , घेवती फीरोजाबाद निवासी श्री रामलाल गुप्ता एंव श्रीमती लाडली देवी गुप्ता ने भारत के सुप्रसिद्ध मेडिकल कॉलेज एवं हास्पिटल- AIIMS की पोस्ट ग्रेजुएशन एग्जाम में आल इंडिया रैंक -18 प्राप्त किया है । अभी डा व्याख्या AIIMS ( PATNA ) में MDS IN ORAL AND MAXILLOFACIAL SURGERY में अभ्यास कर रही हैं । आप शुरुआत से ही मेधावी छात्रा रही हैं डा व्याख्या ने 2018 में BDS में गुजरात टाप किया था । साथ ही 2019 में इंडिया की सर्वश्रेष्ठ डेंटल कालेज एंड हास्पिटल- MAULANA AZAD DENTAL SCIENCE & RESEARCH INSTITUTE & NEW DELHI Junior Resident की एग्जाम में इंडिया टाप किया था । 
            </p>
        </div>
        
        <div class="mahasabha-data-grid-right-item" id="sp202">
            <img src="assets/images/society_pride/202.jpg" alt="">
            <h3>Vishesh Gupta</h3>
            <p class="hindi-font">
विशेष गुप्ता ने 12th में 84 % लाकर अपने परिवार को गौरवान्नित किया । आप पवन राधा गुप्ता तानसेन नगर ग्वालियर के पुत्र है ।            	 
            </p>
        </div>
         
        <div class="mahasabha-data-grid-right-item" id="sp203">
            <img src="assets/images/society_pride/203.jpg" alt="">
            <h3>Astha Gupta</h3>
            <p class="hindi-font">
             आस्था गुप्ता सुपुत्री श्री पंकज गुप्ता , मातश्री श्रीमती कविता गुप्ता वाराणसी ने CBSE की 12 की परीक्षा मे 95.2 प्रतिशत अंक प्राप्त करके माथुर वैश्य समाज का गौरव बढ़ाया है । मनोज गुप्ता कार्यसमिति सदसय वाराणसी की भतीजी है ।
            </p>
        </div>
         
        <div class="mahasabha-data-grid-right-item" id="sp204">
            <img src="assets/images/society_pride/204.jpg" alt="">
            <h3>Rani Gupta</h3>
            <p class="hindi-font">
             रानी गुप्ता सुपुत्री श्री राममोहन गुप्ता ( गल्ला व्यवसायी जरार ) ने इण्टर की परीक्षा आशा राम रामनिवास आर्दश इण्टर कॉलेज बाह ( आगरा ) द्वारा पास की है ।
            </p>
        </div> 
        <div class="mahasabha-data-grid-right-item" id="sp205">
            <img src="assets/images/society_pride/205.jpg" alt="">
            <h3>Cahak Gupta</h3>
            <p class="hindi-font">
             कु ० चहक गुप्ता ने CBSE की दसर्वी की परीक्षा मे 97 प्रतिशत अंक प्राप्त करके माथुर वैश्य समाज का गौरव बढ़ाया है । कु 0 चहक , विल्टन पैंगोरिया और स्वाति गुप्ता की सुपुत्री है । ज्ञातव्य है कि कुछ चहक ई ० अशोक गुप्ता , उपाध्यक्ष , उ 0 प्र 0 पूर्वांचल मण्डल एवं सविता गुप्ता , उपाध्यक्षा , शाखा सभा लखनऊ की धेवती है और सुरेश गुप्ता एवं सुशीला गुप्ता , जयपुर की नातिन है ।
            </p>
        </div> 
        <div class="mahasabha-data-grid-right-item" id="sp206">
            <img src="assets/images/society_pride/206.jpg" alt="">
            <h3>Divya Gupta</h3>
            <p class="hindi-font">
             दिव्या गुप्ता सुपुत्री श्री ध्रुव गुप्ता , राखी गुप्ता , सुपौत्री श्री अनुपम गुप्ता ( कोषाध्यक्ष , महात्मा गाँधी शिक्षण संस्थान मण्डल ) , आशा गुप्ता , निवासी 204 , बढ़ी छपैटी , फिरोजाबाद ने हाई स्कूल में 96.6 प्रतिशत , इण्टरमीडिएट में 93.4 प्रतिशत अंक प्राप्त किये और Preparing for NEET Exam./ दिव्या गुप्ता ने अपने परिवार का ही नहीं पूर माथुर वैश्य समाज का नाम रोशन किया है ।
            </p>
        </div> 
        
    </div>
</div>
<app-footer></app-footer>
