.mahasabha-data-grid {
    display: grid;
    grid-template-columns: auto;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: -30px;
    /* border: 3px solid red; */
}

.mahasabha-data-grid-left-item nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
    list-style-type: none;
    /* display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px; */
    /* border: 3px solid blue; */
}

.mahasabha-data-grid-left-item nav a {
    text-decoration: none;
    color: var(--dark-color);
    cursor: pointer;
}

.mahasabha-data-grid-left-item nav a:hover, .mahasabha-selected {
    font-weight: bold;
}

.mahasabha-data-grid-left-item {
    background-color: #f4f4f4;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.mahasabha-data-grid-right-item {
    background-color: #f4f4f4;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.mahasabha-data-grid-right-item img {
    float: left;
    margin-right: 20px;
}
.mahasabha-data-grid-right-item p {
    color: #333;
}

.mahasabha-data-grid-right-item h3 {
	color: var(--dark-color);
	margin-bottom: 5px;
}

.mahasabha-head-grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: var(--primary-color);
    padding-bottom: 30px;
}

.mahasabha-skew {
    height: 50px;
    position: relative;
    top: -20px;
    background-color: var(--webpage-bg-color);
    transform: skewY(-2deg);
    margin-bottom: 5px;
}

.mahasabha {
    padding-bottom: 0px;
}

h2 {
    color: #fff;
    margin-left: 40px;
    margin-right: 40px;
}

.mahasabha-head-grid-container p {
    color: #fff;
    margin-left: 40px;
    margin-right: 40px;
}

/* Mobile 450 and below*/
@media (max-width: 450px) {
	.mahasabha-data-grid {
        grid-template-columns: auto;
        /* border: 3px solid red; */
    }
}