<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="sideNavHandle.toggle();">menu</mat-icon>
  </button>
  <span>Admin Dashboard Angular Material</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sideNavHandle opened="true" mode="side">
    <!-- Side Nav Bar -->
    <div class="custom-scroll-div">
      <mat-nav-list>
        <a mat-list-item href="#">
          <mat-icon class="sidebar-icon">home</mat-icon> Link 1 </a>
        <a mat-list-item href="/product-crud"> Product CRUD </a>
        <a mat-list-item href="/form-fields"> Material Form Fields </a>
        <a mat-list-item href="/parent-child"> Parent Child Data Sharing </a>
        <a mat-list-item href="#"> Link 2 </a>
        <a mat-list-item href="#"> Link 2 </a>
        <a mat-list-item href="#"> Link 2 </a>
        <a mat-list-item href="#"> Link 2 </a>
        <a mat-list-item href="#"> Link 2 </a>
        <a mat-list-item href="#"> Link 2 </a>
        <a mat-list-item href="#"> Link 2 </a>
        <a mat-list-item href="#"> Link 2 </a>
        <a mat-list-item href="#"> Link 2 </a>
        <a mat-list-item href="#"> Link 2 </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="mat-sidenav-content-container">
      <router-outlet></router-outlet>
    </div>
    <!-- <button mat-stroked-button (click)="openSnackBar('Test Data')" aria-label="Show an example snack-bar">
      Open Snack Bar
    </button> -->
  </mat-sidenav-content>
</mat-sidenav-container>
