.example-spacer {
    flex: 1 1 auto;
}
table {
    width: 100%;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.table-container{
    margin: 0 20px;
}

/* .add-product-btn:hover{
    background-color: rgb(243, 145, 138);
} */