<app-header></app-header>
<div class="prev-next-buttons">
    <a (click)="prevSlide()" class="editorial-read-more-btn"><i class="fas fa-backward"></i></a>&nbsp;
    <!-- <a routerLink="/editorial-home-page" class="editorial-read-more-btn">1</a>&nbsp; -->
    <a (click)="nextSlide()" class="editorial-read-more-btn"><i class="fas fa-forward"></i></a>
</div>
<div *ngIf="visibleGalleryNumber === 18">
	<div class="image-gallery-grid-container grid-col-1">
	    <div class="image-gallery-grid-item">
        	<h5>Meritorious Students Honor ceremony</h5>
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_18_1.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_18_2.jpg" width="100%" height="100%" alt="">
	    </div>
    </div>
</div>
<div *ngIf="visibleGalleryNumber === 17">
	<div class="image-gallery-grid-container grid-col-2">
	    <div class="image-gallery-grid-item item-span-2">
	        <img src="assets/images/gallery/slide_17_1.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	    	<div>
		        <img src="assets/images/gallery/slide_17_2.jpg" width="100%" height="100%" alt="">
	        </div>
	        <div>
	        	<h5>Kolkata Tour</h5>
	        </div>
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_17_3.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item item-span-2">
	    	<div>
		        <img src="assets/images/gallery/slide_17_4.jpg" width="100%" height="100%" alt="">
	        </div>
	        <div>
	        	<h5>Sri Kaila Chamunda Devi Pran Pratishtha Festival Mahesana</h5>
	        </div>
	    </div>
    </div>
</div>
<div *ngIf="visibleGalleryNumber === 16">
	<div class="image-gallery-grid-container grid-col-3">
		<div class="image-gallery-grid-item item-span-3">
	      	<h5>132nd Honor ceremony</h5>
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_16_1.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_16_2.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_16_3.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_16_4.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_16_5.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_16_6.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_16_7.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_16_8.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_16_9.jpg" width="100%" height="100%" alt="">
	    </div>
    </div>
</div>
<div *ngIf="visibleGalleryNumber === 15">
	<div class="image-gallery-grid-container grid-col-3">
		<div class="image-gallery-grid-item item-span-3">
	      	<h5>Second Ekadashi Udyapan</h5>
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_15_1.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_15_2.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_15_3.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_15_4.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_15_5.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_15_6.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_15_7.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_15_8.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_15_9.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_15_10.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_15_11.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_15_12.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_15_13.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_15_14.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_15_15.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_15_16.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_15_17.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_15_18.jpg" width="100%" height="100%" alt="">
	    </div>
    </div>
</div>
<div *ngIf="visibleGalleryNumber === 14">
	<div class="image-gallery-grid-container grid-col-3">
		<div class="image-gallery-grid-item item-span-3">
	      	<h5>House of Representatives Conference, Ahmedabad</h5>
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_14_1.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_14_2.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_14_3.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_14_4.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_14_5.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_14_6.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_14_7.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_14_8.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_14_9.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_14_10.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_14_11.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_14_12.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_14_13.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_14_14.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_14_15.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_14_16.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_14_17.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_14_18.jpg" width="100%" height="100%" alt="">
	    </div>
    </div>
</div>
<div *ngIf="visibleGalleryNumber === 13">
	<div class="image-gallery-grid-container grid-col-2">
	    <div class="image-gallery-grid-item item-span-2">
	    	<div>
	        	<img class="imgclass" src="assets/images/gallery/slide_13_1.jpg" width="100%" height="100%" alt="">
	        </div>
	        <div>
	        	<h5>House of Representatives Conference, Ahmedabad</h5>
	        </div>
	    </div>
	    <div class="image-gallery-grid-item">
	    	<div>
		        <img src="assets/images/gallery/slide_13_2.jpg" width="100%" height="100%" alt="">
	    	</div>
	    	<div>
	        	<h5>132nd Honor ceremony, Varanasi</h5>
	    	</div>
	    </div>
	    <div class="image-gallery-grid-item">
	    	<div>
	        	<img src="assets/images/gallery/slide_13_3.jpg" width="100%" height="100%" alt="">
	    	</div>
	    	<div>
	        	<h5>Giving a check for the cooperation amount to the General Assembly, Ahmedabad</h5>
	    	</div>
	    </div>
	    <div class="image-gallery-grid-item">
	    	<div>
		        <img src="assets/images/gallery/slide_13_4.jpg" width="100%" height="100%" alt="">
	    	</div>
	    	<div>
	        	<h5>Second Ekadashi Udyapan Havan</h5>
	    	</div>
	    </div>
	    <div class="image-gallery-grid-item">
	    	<div>
		        <img src="assets/images/gallery/slide_13_5.jpg" width="100%" height="100%" alt="">
	    	</div>
	    	<div>
	        	<h5>Second Ekadashi Udyapan Committee</h5>
	    	</div>
	    </div>
    </div>
</div>
<div *ngIf="visibleGalleryNumber === 12">
	<div class="image-gallery-grid-container grid-col-1">
		<div class="image-gallery-grid-item">
	      	<h5>Blood Donation Camp</h5>
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_12_1.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_12_2.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_12_3.jpg" width="100%" height="100%" alt="">
	    </div>
    </div>
</div>
<div *ngIf="visibleGalleryNumber === 11">
	<div class="image-gallery-grid-container grid-col-2">
		<div class="image-gallery-grid-item item-span-2">
			<h5>Giving check to Prime Minister's Relief Fund</h5>
		</div>
	    <div class="image-gallery-grid-item item-span-2">
	        <img src="assets/images/gallery/slide_11_1.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_11_2.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item">
	        <img src="assets/images/gallery/slide_11_3.jpg" width="100%" height="100%" alt="">
	    </div>
	    <div class="image-gallery-grid-item item-span-2">
	        <img src="assets/images/gallery/slide_11_4.jpg" width="100%" height="100%" alt="">
	    </div>
    </div>
</div>
<div class="prev-next-buttons">
    <a (click)="prevSlide()" class="editorial-read-more-btn"><i class="fas fa-backward"></i></a>&nbsp;
    <a (click)="nextSlide()" class="editorial-read-more-btn"><i class="fas fa-forward"></i></a>
</div>
<app-footer></app-footer>