<section class="god-ganesh-prayer-grid">
    <div class="god-ganesh-prayer-grid-items">
        <h2>God Ganesh Prayer</h2>
        <p style="text-align: justify">Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some
            text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some
            text Some text Some text Some text ...</p>
        <a class="god-ganesh-prayer-read-more-btn">Read More</a>
    </div>
    <div class="god-ganesh-prayer-grid-items">
        <h2>Flag Song</h2>
        <p style="text-align: justify">Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some
            text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some
            text Some text Some text Some text ...</p>
        <a class="god-ganesh-prayer-read-more-btn">Read More</a>
    </div>
    <!-- <div class="god-ganesh-prayer-grid-items">
        <img src="assets/images/mantrimandal/president.jpg" alt="">
    </div> -->
</section>
<!-- <section class="god-ganesh-prayer-grid">
    <div class="god-ganesh-prayer-grid-items">
        <h2>God Ganesh Prayer</h2>
        <p style="text-align: justify">Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some
            text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some text Some
            text Some text Some text Some text ...</p>
        <a class="god-ganesh-prayer-read-more-btn">Read More</a>
    </div>
    <div class="god-ganesh-prayer-grid-items">
        <img src="assets/images/mantrimandal/president.jpg" alt="">
    </div>
</section> -->
